# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    database_host_heroku: ec2-54-225-76-136.compute-1.amazonaws.com
    database_port_heroku: 5432
    database_name_heroku: d6elfcvrlads3
    database_user_heroku: alzukpsgrkxgas
    database_password_heroku: 0d2a2e0bbc3071d600d05bbd15abb02c0559b35c2cbedcef29473130b1f8e073
    database_url: ~

